#titleDiv:hover {
    width: 50%;
}

.share {
    float: left;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 0;
    background-color: rgba(0,0,0, 1);
    overflow-x: hidden;
    transition: 0.5s;
    color: white;
    cursor: pointer
}

.Aqua {
    background: #00FFFF;
}

.MediumSeaGreen {
    background: #3CB371;
}

.LightCoral {
    background: #F08080;
}

.Lavender {
    background: #E6E6FA;
}

.Gold {
    background: #FFD700;
}